:root{
    --technology-title-gap: 30px;
}

html {
    background: linear-gradient(0deg, #181A1B 40%, #1A1C27);
    background-attachment: fixed;
}

body {
    position: relative;
    margin: 0;
    color: white;
    font-family: 'Verdana', sans-serif;
}

h2 h4 p {
    text-shadow: 0px 2px 4px rgba(0,0,0,62);
}

.section__bio__upper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.section__bio__lower{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.section__bio{
    margin: 0px 200px;
    display: flex;
    flex-direction: column;
}

.div__bio__text{
    height:100%;
    width: 600px;
}

.div__bio__text h2{
    font-size: 32px;
    font-size: var(--font-h3);
    margin: 0px 0px;
}

.div__bio__text p{
    text-align: justify;
    height:100%;
    width: auto;
    font-size: var(--font-body);
}
.section__bio__lower .div__bio__text p{
    margin-top: calc(var(--font-h4) * 1.2 + var(--technology-title-gap));
}
.section__bio__lower .div__bio__text p{
    margin-top: 4px;
}

.portrait-mask{
    /* width: 100%;  */
    /* height: auto;  */
    /* aspect-ratio: 312 / 329; */
    width: 400px;
    height: 400px;
    /* margin-left: 140px; */
    border-radius: 130px;
    background-color: white;
    overflow: hidden;
    display: grid;
    place-items: center;
    box-shadow: 3px 3px 8px rgba(0,0,0,0.4);
    margin-bottom: 20px;
}

.portrait-mask img{
    position: relative;
    top: -110px;
    object-fit: cover;
    width: 130%;
    height: auto;

    /* flip */
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.portrait-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.icon-bar{
    position: relative;
    display:flex;
    flex-direction: row;
    gap: 10px;
}

.icon {
  width: 40px; /* Adjust size as needed */
  height: 40px;
  background-color: white; /* Change this to the color you want for the icon */
  /* mask-size: contain; */
  /* mask-repeat: no-repeat; */
  mask-position: center;
  position: relative;
  transition-duration: 0.5s;
}

.icon::after {
    content: '';
    background: linear-gradient(to bottom, #4dd1ff, #3158dd);
    position: absolute;
    transition-duration: 0.3s;
    top: 50%;
    left: 50%;
    width: 0%;
    height: 0%;
    transform: translate(-50%, 30px);
    border-radius: 50%;
}
.icon:hover::after{
    transform: translate(-50%, -50%);
    width: 140%;
    height: 140%;
}
.icon:hover{
    transform: translateY(-3px);
}

.github {
  mask-image: url('../assets/icons/github.svg');
}
.linkedin {
  mask-image: url('../assets/icons/linkedin.svg');
}
.youtube {
  mask-image: url('../assets/icons/youtube.svg');
}
.artstation {
  mask-image: url('../assets/icons/artstation.svg');
}

.icon-bar img:hover{
    transform: scale(1.1); 
    filter: invert(40%) sepia(68%) saturate(2107%) hue-rotate(165deg) brightness(100%) contrast(101%);
}

.technology-list-section h4{
    text-align: center;
    margin: 0px;
    margin-bottom: var(--technology-title-gap);
}

.technology-list-section{
}

.technology-list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 150px;
    height: 100%;
}

.techology-list-column{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    /* align-content: flex-start; */
    align-items: flex-start;
    gap: 10px;
}

.techology-list-column p{
    font-size: var(--font-body);
    /* font-style: italic; */
    margin: 0px;
}

.background-image {
    position: absolute;
    opacity: 70%;
    left: 50%;
    z-index: -2;
    --scale: 0.7;
    transform: scaleX(calc(var(--scale) * -1)) scaleY(var(--scale)) translate(calc(50%/var(--scale)), 90px);
}

.background-blur{
    position: absolute;
    top: 0;
    background: transparent;
    /* background: green; */
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    z-index: -1;
}
