:root{
    --background-color: #181a1b;
}

body {
    background-color: var(--background-color);
    font-family: 'Verdana', sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

header{
    position: absolute;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    gap: clamp(5px, 2vw, 50px);
    padding: 0px clamp(5px, 2vw, 30px);
    padding-top: 2px;
    box-sizing: border-box;
    z-index: 10;
    font-size: clamp(0.9rem, 3vw, 1.2rem);
}
header p{
    margin: 12px 0px;
    transition-duration: 0.2s;
}

a {
  text-decoration: none;
  color: inherit;
}

header :first-child{
    margin-right: auto;
}

header p:hover{
    text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.7);
    transform: scale(1.05);
}

.home__section{
    position: relative;
    overflow: hidden;
    height: 660px;
}

.home__text{
    margin: 0vw 5vw;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
}



.home__title {
    font-size: clamp(2rem, 13vw, 7rem);
    margin: 0px;
}

.home__title__line {
    background-color: #32aaff;
    width: clamp(100px, 75vw, 700px);
    height: 5px;
    border-radius: 5px;
}

@keyframes stretchHorizontal{
    0% {
        transform: scale(0, 1);
        transform: translate(1, 0);
    }
    100% {
        transform: scale(1, 1);
    }
}

.home__subtitle{
    margin-top: 0;
    font-size: clamp(1rem, 6vw, 2.5rem);
}

.home__button{
    font-size: clamp(0.9em, 5vw, 2em);
    background-color: #1b1b1b;
    border: none;
    color: #ffffff;
    padding: 2px 14px;
    margin: 5px;
    border-radius: 20px;
    transition-duration: 0.4s;
}


.home__button.showreel{
    margin-right: 20px; 
}

.home__button:hover {
    background-color: #32aaff;
}


.home__backgroundvideo__container .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
    backdrop-filter: blur(10px);
    background-color: rgba(0,0,0,0.1);
}

/* ---- animation ---- */
/* .home__text h1, h3, text, button{ */
/*     opacity: 0%; */
/*     animation: fadeIn 0.8s ease-in-out 3.5s forwards; */
/* } */
/* .home__backgroundvideo__container .overlay{ */
/*     backdrop-filter: blur(0px); */
/*     animation: blur-in 2s ease-in-out 3.5s forwards; */
/* } */
/* .home__title__line { */
/*     animation: stretchHorizontal 1.5s ease-in-out 3.5s forwards; */
/*     transform-origin: left; */
/*     transform: scaleX(0); */
/* } */

/* ---- keyframes ---- */
@keyframes blur-in{
    0% {
        backdrop-filter: blur(0px);
    }
    100% {
        backdrop-filter: blur(5px);
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0%; 
    }
    100% {
        opacity: 100%; 
    }
}

.home__backgroundvideo__container video{
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -2;
}



.recent__projects__section {
    border-radius: 60px 60px 0px 0px;
    padding-top: 50px;
    margin-top: -60px;
    background-color: var(--background-color);
}

.recent__projects__section h1, text{
    margin: 0vw 5vw;
}

