body {
    background-color: #0c0c11;
    font-family: 'Verdana', sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

.home__section{
    position: relative;
    overflow: hidden;
    height: 660px;
}

.home__text{
    margin: 0vw 5vw;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
}

.home__title {
    font-size: clamp(2rem, 13vw, 7rem);
    margin: 0px;
}

.home__title__line {
    background-color: #32aaff;
    width: clamp(100px, 75vw, 700px);
    height: 5px;
    border-radius: 5px;
    animation: stretchHorizontal 1s ease-in-out;
    transform-origin: left;
}

@keyframes stretchHorizontal{
    0% {
        transform: scale(0, 1);
        transform: translate(1, 0);
    }
    100% {
        transform: scale(1, 1);
    }
}

.home__subtitle{
    margin-top: 0;
    font-size: clamp(1rem, 6vw, 2.5rem);
}

.home__button{
    font-size: min(5vw, 2em);
    background-color: #1b1b1b;
    border: none;
    color: #ffffff;
    padding: 2px 14px;
    margin: 5px;
    border-radius: 20px;
    transition-duration: 0.4s;
}

.home__button.showreel{
    margin-right: 20px; 
}

.home__button:hover {
    background-color: #32aaff;
}


.home__backgroundvideo__container .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
    backdrop-filter: blur(5px);
    background-color: rgba(0,0,0,0.1);
}

.home__backgroundvideo__container video{
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -2;
}



.recent__projects__section {
    border-radius: 60px 60px 0px 0px;
    padding-top: 50px;
    margin-top: -60px;
    background-color: #2b2b2b;
}

.recent__projects__section h1, text{
    margin: 0vw 5vw;
}

