---
import Socials from '../../../components/Socials.astro';
import { Picture } from 'astro:assets';
import profilePhoto from '../../../assets/images/profile-photo.jpg'
import CV from '../../../assets/pdfs/CV.pdf'
---

<div class="contents">
    <div class="hero">
        <a href="about">
            <div class="profilePhotoContainer">
                <Picture src={profilePhoto} alt="Parker Britt profile photo" height=1000 formats={['avif', 'webp']} />
            </div>
        </a>
        <div class="aboutMeLayout">
            <h2>About Me</h1>
            <p>
                    I am a technical artist and programmer, recently having completed my Master's of science at Bournemouth University, specializing in Houdini procedural effects, software development, and pipeline.
                Beyond VFX, I have a strong interest in open-source software and Linux, regularly exploring technologies that contribute to both my professional and personal projects.
            </p>
            <div class="buttonsLayout">
                <a href={CV} target="_blank">
                    <button>
                        CV
                    </button>
                </a>
                <a href="/about">
                    <button>
                        Learn More
                    </button>
                </a>

            </div>
        </div>
    </div>
<div>

<style>
    .contents
    {
        display: flex;
        flex-direction: column;
        align-items: center;

        justify-content: center;
        background: #121415;

        box-shadow: 0px 0px 25px rgba(0,0,0,0.3);
        min-height: 350px;
    }

    .buttonsLayout
    {
        display: flex;
        gap: 15px;
        padding-top: 15px;
    }

    button
    {
        background: none;
        border: 2px solid white;
        padding: 5px 15px 5px 15px;
        border-radius: 10px;
        color: white;
        font-size: 1.2rem;
        cursor: pointer;

        box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
    }

    button:hover
    {
        background: white;
        color: black;
    }



    h2
    {
        padding-bottom: 30px;
    }

    .aboutMeLayout
    {
        width: 60%;
    }

    .socials
    {
        display: flex;
        justify-content: flex-end;
    }

    .hero
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        text-align: justify;

        padding-left: 10%;
        padding-right: 10%;
        /* padding-top: clamp(40px, 4% , 50px); */
        /* padding-bottom: clamp(40px, 4% , 50px); */
        padding-top: 50px;
        padding-bottom: 50px;

        max-width: 1800px;

        /* height: 85%; */
        /* width: 80%; */
    }

    @media (max-width: 1160px) {
        .hero
        {
            flex-direction: column;
            gap: 40px;
        }
        .aboutMeLayout
        {
            width: 100%;
        }
    }

    @media (max-width: 700px) {
        .hero
        {
            padding-left: 20px;
            padding-right: 20px;
        }

        .buttonsLayout
        {
            justify-content: right;

        }
    }

    .profilePhotoContainer
    {
        display: flex;

        justify-content: center;
        align-items: center;

        color: white;
        border-radius: 40px;
        /* background: red; */
        /* width: min(95%, 400px); */
        height: clamp(250px, 20vw, 400px);
        /* height: 100%; */
        aspect-ratio: 1 / 1;

        overflow: hidden;
    }

    p
    {
        font-size: clamp(1rem, 2.2vw, 1.3rem);
        line-height: clamp(1.8rem, 2.2vw, 2.4rem);
        color: white;
    }
    
    .profilePhotoContainer img
    {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .profilePhotoContainer picture
    {
        height: 100%;
        width: 100%;
    }

    .profilePhotoContainer
    {
        transition-duration: 200ms;
    }

    /* a:hover .profilePhotoContainer */
    /* { */
    /*     rotate: 1 1 0 -15deg; */
    /*     box-shadow: -8px 8px 0px rgb(40,40,40); */
    /* } */
</style>
