---
import '../styles/global.css'
import Socials from './Socials.astro';
---

<div class="footer">
    <div class="footer-contents">
        <p>This website is <strong><a href="https://github.com/parkerbritt/website">open source</a></strong> and self-hosted.
            If you experience any issues please let me know at <strong>parker@parkerbritt.com</strong>
        </p>
        <!-- <Socials /> -->
    </div>
</div>

<style>
.footer
{
    display: flex;
    justify-content: center;
    align-items: center;


    width: 100%;
    height: 80px;

    margin-top: 50px;
    background: #131414;
    /* background: red; */
}

.footer-contents
{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 15px 20px 15px 20px;

    width: 100%;
    height: 100%;
}

</style>
