---
import astroLogo from '../assets/astro.svg';
import Socials from './Socials.astro';
import ShowreelButton from './ShowreelPopupButton.astro';
import backgroundVideo from '../assets/video/home_background_001_384x216.webm'

import showreelVideo from "../assets/video/showreel_02_av1_1440p.webm";
import techreelVideo from "../assets/video/techreel_02_av1_1440p.webm";
---

<div id="container">
    <section id="hero">

        <div id="titles">
            <h2>
                Houdini TD | Software Developer
            </h2>
            <h1>
                Parker Britt
            </h1>
            <div class="show-buttons">
                <ShowreelButton text="Showreel" video={showreelVideo} id="techreel" />
                <ShowreelButton text="Tech Reel" video={techreelVideo} id="showreel" />
            </div>
        </div>
        <div id="socials">
            <Socials/>
        </div>

        <div id="video-overlay"/>
        <video autoplay loop muted disablepictureinpicture id="home-background-video">
            <source src={backgroundVideo} type="video/webm">
            Your browser does not support the video tag.
        </video>
    </section>
</div>

<style>
	h1 {
        font-size: clamp(50px, 14vw, 120px);
        margin: 0px;
        font-weight: 800;
	}
	h2 {
        font-size: clamp(15px, 3vw, 30px);
        font-weight: 100;
	}

    .show-buttons
    {
        display: flex;
        gap: 20px;
    }

</style>

<style is:inline>
    body
    {
        background: transparent;
    }

    #video-overlay
    {
        position: absolute;

        top: 0;
        width: 100%;
        min-height: 100%;
        object-fit: cover;

        z-index: -1;
        backdrop-filter: blur(10px);
        background-color: rgba(0,0,0,0.1);
    }

    #hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        background: transparent;

        overflow: hidden;
        position: relative;

        box-shadow: 0px 0px 50px rgba(0,0,0,0.4);
    }

    #home-background-video
    {
        position: absolute;
        /* top: 0; */
        width: 100%;
        min-height: 100%;
        object-fit: cover;
        z-index: -2;
    }

    #socials
    {
        display: flex;
        align-self: flex-end;
        margin-right: 15px;
    }

	html,
	body {
		margin: 0;
		width: 100%;
		height: 85%;
	}

	#container {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		height: 100%;
	}

	main {
		height: 100%;
		display: flex;
		justify-content: center;
        /* background: #15181a; */
        background: transparent;
	}

	#titles {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		padding: 16px;
        height:80%;

        text-shadow: 5px 5px 20px rgb(0,0,0,1);
	}

	pre {
		font-family:
			ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono',
			monospace;
		font-weight: normal;
		background: linear-gradient(14deg, #d83333 0%, #f041ff 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		margin: 0;
	}


	p {
		color: #4b5563;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.006em;
		margin: 0;
	}

	code {
		display: inline-block;
		background:
			linear-gradient(66.77deg, #f3cddd 0%, #f5cee7 100%) padding-box,
			linear-gradient(155deg, #d83333 0%, #f041ff 18%, #f5cee7 45%) border-box;
		border-radius: 8px;
		border: 1px solid transparent;
		padding: 6px 8px;
	}

	.box {
		padding: 16px;
		background: rgba(255, 255, 255, 1);
		border-radius: 16px;
		border: 1px solid white;
	}
</style>

