---
export interface Props {
    text?: string;
    href?: string;
    isActive?: boolean;
}

const {
    text,
    href,
    isActive = false
} = Astro.props;


---

<a href={href}>
    <p data-isActive={isActive}>{text}</p>
</a>

<style>
    a
    {
        margin-top: 3px;
        text-decoration: none;
    }

    p
    {
        color: white;
        opacity: 80%;
        font-size: 1.4rem;
        text-shadow: 2px 2px 5px rgb(0,0,0,0.5);
        line-height: 30px;
    }

    p:hover
    {
        text-shadow:
            -0.2px -0.2px 0 white,
            0.2px -0.2px 0 white,
            -0.2px 0.2px 0 white,
            0.2px 0.2px 0 white;
        /* opacity: 85%; */
        /* transform: translateY(-1px); */
    }

    p[data-isActive='true']
    {
        /* opacity: 70%; */
    }
</style>
