<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Parker Britt</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
body
{
    background: #121416;
}

p, h1, h2, h3, h4
{
    color: white;
}

</style>

<style is:inline>
    html, body
    {
        background: #15181a;
    ;
    }

    p, h1, h2, h3, h4
    {
        color: white;
    }

    h2 {
        margin: 0 0 1em;
        font-weight: normal;
        font-size: 20px;
    }
</style>

